"*":
  "atom-ide-ui":
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-terminal": "default"
      hyperclick: "default"
  "atom-package-deps":
    ignored: [
      "linter-cookstyle"
    ]
  "auto-copyright":
    owner: "Chef Software, Inc."
    template: '''
      Copyright (c) %y %o
      
      Licensed under the Apache License, Version 2.0 (the "License");
      you may not use this file except in compliance with the License.
      You may obtain a copy of the License at
      
          http://www.apache.org/licenses/LICENSE-2.0
      
      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.
    '''
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  core:
    disabledPackages: [
      "linter"
      "regex-railroad-diagram"
      "linter-foodcritic"
      "markdown-preview"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  editor:
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "4e20741e-2e62-da0e-92c6-711163afce4d"
  linter: {}
  "linter-cookstyle":
    executablePath: "/Users/tsmith/.rbenv/shims/cookstyle"
  "linter-foodcritic":
    executablePath: "/opt/chefdk/bin/foodcritic"
  "linter-js-yaml": {}
  "linter-rubocop":
    command: "/opt/chefdk/embedded/bin/rubocop"
  "linter-ui-default":
    panelHeight: 69
  minimap:
    displayCodeHighlights: false
  "one-dark-ui": {}
  "spell-check": {}
  "travis-ci-status": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1492563056
  welcome:
    showOnStartup: false
".erb.html.text":
  editor:
    showIndentGuide: true
    showInvisibles: true
".ruby.source":
  editor:
    showIndentGuide: true
    showInvisibles: true
".source.toml":
  editor:
    showIndentGuide: true
    showInvisibles: true
".source.yaml":
  editor:
    autoIndentOnPaste: false
    showIndentGuide: true
    showInvisibles: true
